<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heartbeat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.HeartBeat"
        android:name=".Profilliste">
        <activity
            android:name="com.example.heartbeat.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HeartBeat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.heartbeat.login" >
        </activity>
        <activity android:name="com.example.heartbeat.login1" >
        </activity>
        <activity android:name="com.example.heartbeat.register" >
        </activity>
        <activity android:name="com.example.heartbeat.profil" >
        </activity>
        <activity android:name="com.example.heartbeat.profilanlegen" >
        </activity>
        <activity android:name="com.example.heartbeat.profilbearbeiten" >
        </activity>
        <activity android:name="com.example.heartbeat.suchekonfig" >
        </activity>
        <activity android:name="com.example.heartbeat.musicplayer" >
        </activity>
        <activity android:name="com.example.heartbeat.chat" >
        </activity>
        <activity android:name="com.example.heartbeat.matches" >
        </activity>
        <activity android:name="com.example.heartbeat.matcheskonfig" >
        </activity>
        <activity android:name="com.example.heartbeat.anmeldeabschluss" >
        </activity>
        <activity android:name="com.example.heartbeat.chat_uebersicht" >
        </activity>




    </application>

</manifest>